<div class="bg-dark" style="height: 100vh;">
    <nav class="navbar navbar-expand-lg navbar-light text-white"
        style="justify-content: space-around; background-color: #4a4a4a;">
        <div style="display: flex;">
            <img src="../../../assets/img/logo.png" width="40" height="50" alt="">
            <h3>Game Zone</h3>
        </div>
        <a class="navbar-brand text-white" href="#">Super Administrador</a>
        <div class="" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item boton-admin">
                    <a class="btn btn-primary rounded-pill" href="#">Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container justify-content-center">
        <table class="table table-bordered table-responsive list-nombres" style="margin-top: 30px;">
            <thead class="bg-light">
                <tr>
                    <th scope="col">#Usuario</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">idJuego</th>
                    <th scope="col">NomJuego</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody class="text-white">
                <tr *ngFor="let suscripcion of suscripciones">
                    <th scope="row">{{suscripcion.usuarios_id_us}}</th>
                    <td>{{suscripcion.nombre}}</td>
                    <td>{{suscripcion.apellido}}</td>
                    <td>{{suscripcion.juegos_idjuegos}}</td>
                    <td>{{suscripcion.nom_juegos}}</td>
                    <td>{{suscripcion.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center boton-admin-movil">
        <a class="btn btn-primary" href="">Cerrar sesión</a>
    </div>
</div>