<div class="w-100 imagen-fondo">
<div class="container">
    <div class="row justify-content-center text-center align-items-center" style="height: 100vh;">
        <div class="col-6 h-auto text-white rounded" style="background-color:#424867;">
            <img class="w-25" src="../../../assets/img/logo.png" alt="">
            <h3>Game Zone</h3>
            <p>Es una app en donde usuarios previamente registrados podran ingresar juegos a la lista</p>
            <button class="btn btn-primary rounded-pill" [routerLink]="['/login']" style="margin-bottom: 20px;">Iniciar sesión</button>
            <button class="btn btn-primary rounded-pill" [routerLink]="['/nombres']" style="margin-bottom: 20px;">Entrar</button>
        </div>
    </div>
</div>
</div>