<div class="w-100 imagen-fondo">
    <div class="container">
        <div class="row justify-content-center text-center align-items-center" style="height: 100vh;">
            <div class="col-6 h-auto text-white rounded" style="background-color:#3F5475;">
                <h3 class="m-4">Iniciar Sesión</h3>
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control mb-4 col-3" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Email:" name="email" [(ngModel)]="user.email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control mb-4" id="exampleInputPassword1" placeholder="Contraseña:" name="password" [(ngModel)]="user.password">
                    </div>
                    <button type="submit" role="button" (click)="login()" class="btn btn-primary mb-4 rounded-pill">Iniciar sesión</button>
                </form>
            </div>
        </div>
    </div>
</div>